.sidebar {
    display: inline-block;
    min-width: 281px;
}

.menu {
    &__list-item {
        @include main-text;

        margin-bottom: 26px;
        font-weight: 400;
        color: $dark;
        margin-top: 30px;
        margin-left: 32px;
    }

    &__list-link {
        position: relative;

        &::before {
            content: '';
            width: 4px;
            height: 0;
            left: -8px;
            top: -6px;
            position: absolute;
            background-color: $blue;
            border-radius: 10px;
            transition: ease 0.5s;
            opacity: 0;
        }

        &:hover {
            color: rgb(26, 128, 223);
        }

        &.active {
            font-weight: 600;

            &::before {
                content: '';
                width: 4px;
                height: 36px;
                left: -10px;
                top: -6px;
                position: absolute;
                background-color: $blue;
                border-radius: 10px;
                opacity: 1;
            }
        }
    }
}
