@import "./styles/vars.scss";
@import "./styles/reset.scss";
@import "./styles/header.scss";
@import "./styles/sidebar.scss";
@import "./styles/main.scss";
@import "./styles/footer.scss";
@import "./styles/card.scss";
@import "./styles/layouts.scss";
@import "./styles/questions.scss";
@import "./styles/tabs.scss";
@import "./styles/modal-window.scss";
@import "./styles/modal-images.scss";
@import "./styles/modal-color.scss";
@import "./styles/modal-scores.scss";
@import "./styles/modal-sizes.scss";

