#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

body {
    background-color: darkgray;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal {
    width: 1039px;
    height: 588px;
    background: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 64px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal-close {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 35px;
    right: 30px;
}

.modal-close span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #888b94;
    margin-bottom: 2px
}

.modal-close span:first-child {
    transform: rotate(-45deg);
    margin-bottom: -2px
}

.modal-close span:nth-child(2) {
    transform: rotate(45deg);
}

.modal-image {
    width: 330px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.modal-image-small {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap
}

.modal-image-small img {
    margin-right: 8px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.price {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
}

.button {
    background: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 134px;
    height: 36px;
    border: 0;
    color: #fff;
}

.balance {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f0fafd;
    border-radius: 16px;
    width: 196px;
    height: 68px;
}

.content p:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin: 0;
}

.content p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
    margin: 0;
}

.active {
    border: 1px solid #2a81dd;
    box-sizing: border-box;
    border-radius: 8px;
}

.image img {
    display: block;
}

.title {
    margin: 8px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    overflow: hiddden;
    white-space: nowrap;
}

/* radio-button */

.colors-title {
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    margin-top: 24px;
}

.color {
    display: flex;
    flex-wrap: wrap;
}

.color-item {
    margin-right: 8px;
}

.color-item input {
    display: none;
}

.color-item label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #2a81dd;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    padding: 8px;
}

.color label::before {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background: #00458a;
    border-radius: 4px;
    margin-right: 8px;
}

#color-2::before {
    background: #efe8d8;
}

#color-3::before {
    background: #d4d4da;
}

.color-item input:checked + label {
    background: #d6ecfb;
    color: #1c1819;
    border: none;
}

.hint {
    margin-top: 24px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    flex-wrap: wrap;
}

.boxed2 label {
    display: inline-block;
    transition: all 0.3s;
    background: #fff;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 8px 16px 8px 16px;
    color: #2a81dd;
    margin-right: 8px;
}

.boxed2 input {
    width: 40px;
    height: 40px;
    display: none;
}

.boxed2 input:checked + label {
    background: #d6ecfb;
    color: #1c1819;
    border: none;
}

.bold {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
}

.normal {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
