#app {
    font-family: 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 24px;
    color: #2c3e50;
    background-color: #66bedb;
    position: relative;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    text-decoration: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    position: fixed;
    width: 100%;
    max-width: 1039px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.modal {
    max-width: 1039px;
    height: 588px;
    background: #fff;
    border-radius: 16px;
    display: flex;
    padding: 64px 56px;
    justify-content: space-between;
    align-content: center;
}

.modal-close-btn {
    background: url('../images/close-btn.svg') no-repeat;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 31px;
    top: 31px;
}

.modal-image {
    width: 330px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.modal-image-small {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap
}

.modal-image-small img {
    margin-right: 8px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.price {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
}

.button-order {
    background: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 134px;
    height: 36px;
    border: 0;
    color: #fff;
}

.balance {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f0fafd;
    border-radius: 16px;
    width: 196px;
    height: 68px;
    padding: 8px 16px;
}

.content {
    margin-right: 12px;
}

.content p:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin-bottom: 4px;
}

.content p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
}

.active {
    border: 1px solid #2a81dd;
    box-sizing: border-box;
    border-radius: 8px;
}

.image img {
    display: block;
}

.title {
    margin: 8px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    overflow: hiddden;
    white-space: nowrap;
}

/* radio-button */

.colors-title {
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    margin-top: 24px;
    margin-bottom: 8px;
}

.color {
    display: flex;
    flex-wrap: wrap;
}

.color-item {
    margin-right: 8px;
}

.color-item input {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}

.color-item label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #2a81dd;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    padding: 8px;
}

.color label::before {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background: #00458a;
    border-radius: 4px;
    margin-right: 8px;
}

#color-2::before {
    background: #efe8d8;
}

#color-3::before {
    background: #d4d4da;
}

.color-item input:checked + label {
    background: #d6ecfb;
    color: #1c1819;
    border: 1px solid #d6ecfb;
}

.modal-size {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    flex-wrap: wrap;
}

.modal-size-title {
    margin-top: 24px;
    margin-bottom: 8px;
}

.boxed2 label {
    display: inline-block;
    transition: all 0.3s;
    background: #fff;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 8px 16px 8px 16px;
    color: #2a81dd;
    margin-right: 8px;
}

.boxed2 input {
    width: 40px;
    height: 40px;
    display: none;
}

.boxed2 input:checked + label {
    background: #d6ecfb;
    color: #1c1819;
    border: 1px solid #d6ecfb;
}

.modal-details {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
}

.modal-details-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.modal-deatils2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
}

.modal-details-description2 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
