.card {
    max-width: 330px;
    width: 100%;
    min-height: 474px;
    position: relative;
    margin-bottom: 24px;

    &:hover {
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);

        & .card__button {
            opacity: 1;
        }
    }

    &__image-wrap {
        position: relative;
    }

    &__badge {
        @include secondary-text;

        border-radius: 4px;
        position: absolute;
        left: 16px;
        bottom: 16px;
        padding: 0 4px;
        background: $green;
        text-transform: uppercase;
        color: $white;
    }

    &__info {
        padding: 16px;
    }

    &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 4px;
        color: $blue;
        transition: 0.22s;

        &:hover {
            color: $red;
        }
    }

    &__title {
        @include main-text;

        font-style: normal;
        font-weight: 600;
        color: $dark;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__misc {
        @include secondary-text;

        font-style: normal;
        font-weight: normal;
        padding-bottom: 16px;
        color: $grey;
    }

    &__button {
        @include main-text;

        border-radius: 8px;
        width: 100%;
        background: $blue;
        height: 44px;
        border: none;
        color: $white;
        box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
        cursor: pointer;
        opacity: 0;
        transition: 0.22s;

        &:hover {
            opacity: 1;
            background: $dark;
            border: 1px solid #fff;
        }
    }
}
