.footer {
    background-color: #1c1819;
    color: #fff;
    display: grid;
    grid-area: footer;
    grid-template: 1fr / 1fr minmax(auto, 865px) minmax(auto, 454px) 1fr;
    padding: 20px 24px 20px;
    align-items: center;
}

.footer__left {
    grid-column: 2 / 3;
}

.footer__copyright {
    font-size: 16px;
}

.footer__social {
    display: flex;
    margin-top: 8px;
}

.footer__content {
    grid-column: 3 / 4;
}

.footer__button {
    width: 150px;
    background: #fff;
    border-radius: 8px;
    color: #2a81dd;
    min-height: 36px;
    border: 1px solid #1c1819;
    transition: all ease 0.5s;
}

.footer__button:hover {
    background: #1c1819;
    color: #fff;
    border: 1px solid #fff;
}

.footer__social-link {
    margin-right: 14px;
}

.footer__right {
    display: flex;
    justify-content: space-between;
}
