.header {
    display: grid;
    grid-area: header;
    padding: 32px 24px 24px;
    align-items: center;
    grid-template: 1fr / 1fr 281px minmax(auto, 1038px) 1fr;
}

.header__logo {
    display: none;
}

// .header__user-wrap {
//     grid-column: 4/5;
// }

.header__user-wrap {
    display: none;
}

.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header__burger {
    display: block;
}

.header__user:hover {
    transform: scale(1.2, 1.2);
}

.header__search {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.search__form {
    display: none;
}

.search__btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 16px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(../images/search-icon.svg);
}

.search__btn:active {
    transform: rotate(270deg);
}

.search__input {
    padding: 8px 24px 8px 56px;
    width: 308px;
    height: 44px;
    border: 0;
    border-radius: 8px;
    background: #f2f2f3;
}

.search__input:focus {
    border: 1px solid rgb(91, 174, 243);
}

.header__user-image {
    width: 44px;
    height: 44px;
    max-width: 100%;
}

.header__user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__user-descr {
    margin-left: 16px;
    text-align: left;
}

.user__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2a81dd;
}

.user__scores {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #1c1819;
}

//search
.search {
    position: relative;
    height: 30px;
}

.search .input {
    background-color: #f2f2f3;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 30px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
    background-image: url(../images/search-big.svg);
    background-repeat: no-repeat;
}

.btn:focus input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
    background-color: #f2f2f3;
}

@media (min-width: 768px) {
    .header__user-wrap {
        display: block;
    }
}
