.header {
    @include flex;

    &__wrapper {
        @include flex;

        justify-content: space-between;
        padding: 32px 91px 0 32px;
    }

    &__left {
        @include flex;

        gap: 66px;
    }

    &__burger-btn {
        display: none;
        align-self: center;
        background-color: transparent;
        border: 0;
        padding-bottom: 7px;
    }

    &__burger__img {
        width: 14px;
        height: 14px;
    }

    &__logo {
        align-self: center;
    }

    &__form {
        position: relative;

        &:active .header__search {
            transform: scale(1.3);
        }
    }

    &__input {
        border-radius: 8px;
        padding: 8px 8px 8px 56px;
        width: 308px;
        height: 44px;
        border: 0;
        background: $search;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;

        &:focus {
            border: 1px solid rgb(91, 174, 243);
        }
    }

    &__search {
        border: 0;
        background: transparent;
        position: absolute;
        width: 29px;
        top: 11px;
        left: 16px;
        transition: all 0.1s ease;
    }

    &__img {
        max-width: 100%;
        display: block;
    }

    &__right {
        @include flex;
    }

    &__user {
        @include flex;

        gap: 16px;

        &:hover {
            transform: scale(1.2, 1.2);
        }
    }

    &__user-image {
        width: 44px;
        height: 44px;
    }

    &__username {
        @include secondary-text;

        font-style: normal;
        font-weight: 600;
        color: $blue;
    }

    &__userscores {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $dark;
        float: left;
    }

    &__right-search {
        display: none;
        position: relative;
        height: 38px;

        & .header__right-input {
            @include secondary-text;

            background-color: $white;
            border: 0;
            padding: 16px;
            height: 24px;
            width: 24px;
            transition: width 0.3s ease;
        }

        &.active .header__right-input {
            width: 150px;
        }

        &.active .header__right-btn {
            transform: translateX(120px);
        }
    }

    &__right-input {
        &:focus {
            outline: none;
        }
    }

    &__right-btn {
        background-color: $white;
        padding-top: 5px;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        transition: transform 0.3s ease;

        &:focus {
            outline: none;
        }
    }
}
