@media (min-width: 768px) {
    .header__user-wrap {
        display: block;
    }

    .sidebar {
        display: block;
    }

    .main {
        padding: 0 16px;
        padding-bottom: 192px;
        display: grid;
        grid-area: main;
        grid-template: 1fr / 1fr 281px minmax(auto, 1038px) 1fr;
    }
}

@media (min-width: 360px) {
    .main {
        padding: 0 16px;
    }

    .header {
        display: grid;
        grid-area: header;
        padding: 32px 24px 24px;
        align-items: center;
        grid-template: 1fr / 1fr 281px minmax(auto, 1038px) 1fr;
    }

    .header__burger-img {
        display: none;
    }

    .search {
        display: none;
    }

    .search__form {
        display: block;
    }

    .banner__img-mini {
        display: none;
    }

    .banner__img-big {
        display: block;
    }

    .header__logo {
        display: block;
        grid-column: 2/3;
    }

    .buttons__get-scores {
        max-width: 330px;
        width: 100%;
        height: 56px;
        padding: 8px 24px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        font-size: 20px;
        font-weight: 600;
        // border: 1px solid #fff;
        @include bordered(#fff, 1px);

        transition: all ease 0.5s;
        margin-bottom: 40px;
        margin-top: 24px;
    }

    .container__tabs {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }

    .products__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap: 24px;
        margin-bottom: 192px;
    }

    .product__card {
        max-width: 330px;
        width: 100%;
        cursor: pointer;
        transition: 0.22s;
        border-radius: 8px;
    }
}
