.questions {
    &__item {
        @include flex;

        border-radius: 16px;
        width: 100%;
        padding: 8px 24px;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid $white;
        margin: 4px 0;
        transition: all ease 0.5s;

        &_take {
            background: $white-green;

            &:hover {
                border: 1px solid $white-green;
                box-shadow: 0 0 10px $white-green;
                background: transparent;
            }

            &::before {
                content: '';
                display: block;
                background: url('../images/plus-icon.png') no-repeat center center;
                width: 48px;
                height: 56px;
                margin-right: 16px;
            }
        }

        &_how {
            background: $white-yellow;

            &:hover {
                border: 1px solid $white-yellow;
                box-shadow: 0 0 10px $white-yellow;
                background: transparent;
            }

            &::before {
                content: '';
                display: block;
                width: 48px;
                height: 56px;
                background: url('../images/question-icon.png') no-repeat center center;
                margin-right: 16px;
            }
        }

        &_gift {
            background: $white-blue;

            &:hover {
                border: 1px solid $white-blue;
                box-shadow: 0 0 10px $white-blue;
                background: transparent;
            }

            &::before {
                content: '';
                display: block;
                width: 48px;
                height: 56px;
                background: url('../images/gift-icon.png') no-repeat center center;
                margin-right: 16px;
            }
        }
    }
}

.buttons__get-scores {
    @include flex;

    border-radius: 16px;
    width: 330px;
    height: 76px;
    padding: 8px 24px;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid #fff;
    transition: all ease 0.5s;
    margin-top: 24px;
    margin-bottom: 8px;
}
