* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

p,
ul[class],
ol[class],
li {
    margin: 0;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background: transparent;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: grid;
    grid-template: minmax(104px, auto) 1fr minmax(100px, auto) / 1fr;
    grid-template-areas: 'header' 'main' 'footer';
}
