.tabs {
    @include flex;

    gap: 8px;
    overflow-x: auto;
    margin: 32px 0 16px;

    &__item {
        @include flex;
        @include secondary-text;

        border-radius: 8px;
        min-width: 100px;
        height: 36px;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        border: 1px solid rgba(28, 24, 25, 0.1);
        color: $blue;
        transition: box-shadow ease 0.5s;

        &:hover {
            border-color: $blue;
        }

        &.active {
            background: $tabs;
            border: 1px solid $tabs;
            color: $dark;
        }
    }
}
