$dark: #1c1819;
$white: #fff;
$blue: #2a81dd;
$red: red;
$green: #64bd38;
$white-green: #eff8eb;
$white-yellow: #fffae7;
$white-blue: #e9f2fb;
$tabs: #d6ecfb;
$search: #f2f2f3;
$grey: #888b94;
$shirt-blue: #00458a;
$shirt-beige: #efe8d8;
$shirt-grey: #d4d4da;

@mixin br($r) {
    border-radius: $r;
}
